input {
    border: 1.5px solid var(--freeze);
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  /* Input focus effect */
  input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 8px var(--primary);
  }